<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615004207713-emep9crmdokmu2dqoka72dtfjqma97je.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615004207713-emep9crmdokmu2dqoka72dtfjqma97je</string>
	<key>API_KEY</key>
	<string>AIzaSyB-V4XQFNv3qBJzsSfD7p-Y0B4H_RBKdnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>615004207713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creativegames.wildwest</string>
	<key>PROJECT_ID</key>
	<string>wildwest-def0c</string>
	<key>STORAGE_BUCKET</key>
	<string>wildwest-def0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615004207713:ios:0c4018b15f30653c3a8820</string>
	<key>DATABASE_URL</key>
	<string>https://wildwest-def0c.firebaseio.com</string>
</dict>
</plist>